[push]
  default = current
  followTags = true

[rerere]
  enabled = true

[diff]
  tool = fugitive
  colorMoved = default

[difftool]
  prompt = false

[merge]
  tool = fugitive
  conflictstyle = diff3

[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[mergetool "fugitive"]
  cmd = nvim -f "$MERGED" -c "Gvdiffsplit!"

[mergetool]
  prompt = false

[alias]
  co = checkout
  ec = config --global -e
  up = pull --rebase --prune
  cm = commit -a -m
  ls = log --pretty=format:%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate
  ll = log --pretty=format:%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --numstat
  lnc = log --pretty=format:%h\\ %s\\ [%cn]
  lds = log --pretty=format:%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --date=short
  ld = log --pretty=format:%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --date=relative
  le = log --oneline --decorate
  fl = log -u
  dl = !git ll -1
  dlc = diff --cached HEAD^
  undo = reset HEAD~1 --mixed
  amend = commit -a --amend
  dr = "!f() { git diff $1^..$1; }; f"
  lc = "!f() { git ll $1^..$1; }; f"
  diffr = "!f() { git diff $1^..$1; }; f"
  f = !git ls-files | grep -i
  grep = grep -Ii
  gra = "!f() { A=$(pwd) && TOPLEVEL=$(git rev-parse --show-toplevel) && cd $TOPLEVEL && git grep --full-name -In $1 | xargs -I{} echo $TOPLEVEL/{} && cd $A; }; f"
  la = !git config -l | grep alias | cut -c 7-
  lt = describe --tags --abbrev=0
  cp = cherry-pick
  st = status -s
  cl = clone
  ci = commit
  br = branch
  diff = diff --word-diff
  dc = diff --cached
  r = reset
  r1 = reset HEAD^
  r2 = reset HEAD^^
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  rh2 = reset HEAD^^ --hard
  rh2 = reset HEAD^^ --hard
  sl = stash list
  sa = stash apply
  ss = stash save
  sp = stash pop
  s = stash
  logtree = log --graph --oneline --decorate --all
  pu = push -q
  pure = pull --rebase
  pupu = !git pure && git pu
  back = checkout -
  follow = log --follow --stat --pretty=format:%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --date=short
  follow-merge = log --follow --stat --pretty=format:%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --date=short -m
  lsm = log --pretty=format:%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --no-merges
  del = push origin --delete
  ac = !git add -A && git commit
  fame = "!git ls-tree -r -z --name-only HEAD -- **/* | xargs -0 -n1 git blame --line-porcelain HEAD |grep  \"^author \"|sort|uniq -c|sort -nr"
  last = "!git for-each-ref --sort='-committerdate' --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))' refs/heads/ | head -n 15"
  lb = list-bamboo
  rb = run-bamboo
  conflicts = diff --name-only --diff-filter=U
  current-branch = rev-parse --abbrev-ref HEAD
  current-commit = rev-parse HEAD
  current-commit-msg = log -1 --pretty=%B
  cb = current-branch
  cc = current-commit
  ccm = current-commit-msg
  identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; :"
  mv-index = "!f() { \
    old=\"$1\"; \
    new=\"$2\"; \
    info=$(git ls-files -s -- \"$old\" | cut -d' ' -f-2 | tr ' ' ,); \
    git update-index --add --cacheinfo \"$info,$new\" && \
    git rm --cached \"$old\"; \
    }; f"

[core]
  editor = nvim
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  preloadIndex = true
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  syntax-theme = Visual Studio Dark+
  dark = true
  file-style = omit
  hunk-header-decoration-style = overline brightblack
  hunk-header-file-style = magenta
  hunk-header-line-number-style = dim magenta
  hunk-header-style = file line-number dim syntax
  line-numbers = false
  minus-emph-style = bold red 52
  minus-empty-line-marker-style = normal "#3f0001"
  minus-non-emph-style = dim red
  minus-style = bold red
  plus-emph-style = bold green 22
  plus-empty-line-marker-style = normal "#002800"
  plus-non-emph-style = dim green
  plus-style = bold green
  whitespace-error-style = reverse red
  zero-style = dim syntax
  side-by-side = true

[credential]
  helper = cache --timeout=3600

[init]
  templatedir = ~/.gittemplate
  defaultBranch = master

[fetch]
  prune = true

[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red
  new = green
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = cyan

[color "status"]
  added = green
  changed = yellow
  untracked = cyan

[help]
  autocorrect = 1

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[url "https://github.com"]
  insteadOf = git://github.com

[commit]
  gpgsign = true

[gpg]
  program = gpg

[include]
  path = ~/.gitconfig.extra
