tags*
.ropeproject
vim/.vim/autoload/*.old
vim/.vim/swaps
vim/.vim/undo
vim/.vim/viminfo
vim/.vim/plugged
vim/.vim/sessions
vim/.vim/spell/*.add
vim/.vim/spell/*.spl
vim/.vim/.netrwhist
packer_compiled.lua
*.log
*.tmp
.DS_Store
ssh/.ssh/*
!ssh/.ssh/config
