tags*
.ropeproject
vim/.vim/autoload/*.old
vim/.vim/swaps
vim/.vim/undo
vim/.vim/viminfo
vim/.vim/plugged
vim/.vim/sessions
vim/.vim/spell/*.add
vim/.vim/spell/*.spl
vim/.vim/.netrwhist
neovim/.config/nvim/shada*
tmux/.tmux/plugins/tmux-*
tmux/.tmux/plugins/extrakto
tmux/.tmux/resurrect
tmux/.tmux/sidebar
*.log
*.tmp
.DS_Store
