
# Debugger.
snippet debugger "debugger;"
debugger;
endsnippet

# Yuidoc
snippet propDoc "Property Documentation"
/**
 * ${1:Description}
 *
 * @property ${2:${VISUAL}}
 * @type ${3:type}
 */
${VISUAL}
endsnippet

snippet funcDoc "Function Documentation"
/**
 * ${1:Description}
 *
 * @method ${2:${VISUAL:name}}
 * @param {${3}} ${4}
 * @returns ${5}
 */
${VISUAL}
endsnippet

# vim:ft=snippets:
