# vim as default
export EDITOR="vim"
export VISUAL="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Responsive for vi mode on CMD (https://github.com/alexandre/caps2esc).
export KEYTIMEOUT=1

# Lang
export LANG="en_US.UTF-8"
export LC_ALL=${LANG}

# Android
export ANDROID_HOME=$HOME/Library/Android
export ANDROID_SDK_ROOT=$HOME/Library/Android/sdk
export PATH=${PATH}:$ANDROID_SDK_ROOT/tools:$ANDROID_SDK_ROOT/platform-tools

# Go
export GOROOT=/usr/lib/go-1.9
export GOPATH=$HOME/go
export PATH=${PATH}:$GOROOT:$GOROOT/bin
export PATH=${PATH}:$GOPATH:$GOPATH/bin

# MacOS
export PATH=/usr/local/bin:${PATH}

# Texlive
export PATH=${PATH}:/Library/TeX/texbin

# Home bin
export PATH=${PATH}:~/bin

# Powerline fonts
export PATH=${PATH}:~/.local/bin

# XDG config home.
export XDG_CONFIG_HOME=$HOME/.config

# NPM
export npm_config_progress=false
export PATH=${PATH}:./node_modules/.bin

# Fzf
which rg >/dev/null && export FZF_DEFAULT_COMMAND="rg --files --hidden --follow 2> /dev/null"
export FZF_DEFAULT_OPTS="--reverse --ansi "

# Get python user package path.
if which python >/dev/null; then
PYTHON_PACKAGES=$(python -m site --user-site)
fi
if which python3 >/dev/null; then
PYTHON3_PACKAGES=$(python3 -m site --user-site)
fi

# Else, get python system package path.
[ ! -s $PYTHON_PACKAGES ] && PYTHON_PACKAGES=$(python -c "import site; print(site.getsitepackages()[0])")
[ ! -s $PYTHON3_PACKAGES ] && PYTHON3_PACKAGES=$(python3 -c "import site; print(site.getsitepackages()[0])")

# Export when exists.
[ -s $PYTHON_PACKAGES ] && export PYTHON_PACKAGES
[ -s $PYTHON3_PACKAGES ] && export PYTHON3_PACKAGES

# Proxy.
proxy_enable() {
  proxy=${1:-localhost:3128}

  export http_proxy=http://$proxy/
  export https_proxy=$http_proxy
  export ftp_proxy=$http_proxy
  export rsync_proxy=$http_proxy
  export rvm_proxy=$http_proxy
  export socks_proxy=socks://$proxy/
  export HTTP_PROXY=$http_proxy
  export HTTPS_PROXY=$http_proxy
  export FTP_PROXY=$http_proxy
  export RSYNC_PROXY=$http_proxy
  export RVM_PROXY=$http_proxy
  export SOCKS_PROXY=$socks_proxy
  export no_proxy=localhost,127.0.0.0/8,::1
}

proxy_disable() {
  unset http_proxy
  unset https_proxy
  unset ftp_proxy
  unset rsync_proxy
  unset rvm_proxy
  unset socks_proxy
  unset HTTP_PROXY
  unset HTTPS_PROXY
  unset FTP_PROXY
  unset RSYNC_PROXY
  unset RVM_PROXY
  unset SOCKS_PROXY
  unset no_proxy
}

proxy_disable

# here's LS_COLORS
# github.com/trapd00r/LS_COLORS
# command -v gdircolors >/dev/null 2>&1 || alias gdircolors="dircolors"
# eval "$(gdircolors -b ~/.dircolors)"

# highlighting inside manpages and elsewhere
export LESS_TERMCAP_mb=$'\E[01;31m'       # begin blinking
export LESS_TERMCAP_md=$'\E[01;38;5;74m'  # begin bold
export LESS_TERMCAP_me=$'\E[0m'           # end mode
export LESS_TERMCAP_se=$'\E[0m'           # end standout-mode
export LESS_TERMCAP_so=$'\E[38;5;246m'    # begin standout-mode - info box
export LESS_TERMCAP_ue=$'\E[0m'           # end underline
export LESS_TERMCAP_us=$'\E[04;38;5;146m' # begin underline

# colored GCC warnings and errors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# Perl
export PATH="${PATH}:${HOME}/perl5/bin"
export PERL5LIB="${HOME}/perl5/lib/perl5${PERL5LIB:+:${PERL5LIB}}"
export PERL_LOCAL_LIB_ROOT="${HOME}/perl5${PERL_LOCAL_LIB_ROOT:+:${PERL_LOCAL_LIB_ROOT}}"
export PERL_MB_OPT="--install_base \"${HOME}/perl5\""
export PERL_MM_OPT="INSTALL_BASE=${HOME}/perl5"

# Rust
if which rustc >/dev/null; then
  export RUST_SRC_PATH="$(rustc --print sysroot)/lib/rustlib/src/rust/src"
fi

# vim: ft=sh
