!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

! xft.dpi:                 96
! Xft.antialias:           true
! Xft.rgba:                rgb
! Xft.hinting:             true
! Xft.hintstyle:           hintslight

!-------------------------------------------------------------------------------
! Rofi settings
!-------------------------------------------------------------------------------

rofi.modi: run,drun,teiler:teiler,window
rofi.font: SFNS Display 16
rofi.columns: 1
rofi.fullscreen: true
rofi.sidebar-mode: true
rofi.eh: 2
rofi.bw: 0
rofi.line-margin: 20
rofi.location: 0
rofi.padding: 60
rofi.fuzzy: false
rofi.threads: 0
rofi.terminal: termite
rofi.color-enabled: true
rofi.separator-style: none
rofi.color-window: argb:ee002b37, argb:00002b37, argb:00003642
rofi.color-normal: argb:00002b37, #819396, argb:00002b37, argb:ee003642, #819396
rofi.color-active: argb:00002b37, #008ed4, argb:00002b37, argb:ee003642, #008ed4
rofi.color-urgent: argb:00002b37, #da4281, argb:00002b37, argb:ee003642, #da4281
rofi.run-command: /bin/zsh -i -c "{cmd}"
rofi.run-list-command: alias | awk -F'[ = ]' '{print $1}' && print -l ${(ok)functions} | grep -v '^_'

!-------------------------------------------------------------------------------
! Colors settings
! Source http://github.com/altercation/solarized
!-------------------------------------------------------------------------------

*background:             #002b36
*foreground:             #657b83
*fading:                 0
*fadeColor:              #002b36
*cursorColor:            #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

!! urxvt background
! urxvt*background:       #002b36
!rgba:0000/0000/0000/cccc

!! black dark/light
*color0:                 #073642
*color8:                 #002b36

!! red dark/light
*color1:                 #dc322f
*color9:                 #cb4b16

!! green dark/light
*color2:                 #859900
*color10:                #586e75

!! yellow dark/light
*color3:                 #b58900
*color11:                #657b83

!! blue dark/light
*color4:                 #268bd2
*color12:                #839496

!! magenta dark/light
*color5:                 #d33682
*color13:                #6c71c4

!! cyan dark/light
*color6:                 #2aa198
*color14:                #93a1a1

!! white dark/light
*color7:                 #eee8d5
*color15:                #fdf6e3

! vim: cms=!%s
